.pf-v5-c-button.iamshield__permissions__empty_state {
  color: var(--pf-v5-c-button--disabled--Color);
  background-color: var(--pf-v5-c-button--disabled--BackgroundColor);
  --pf-v5-c-button--after--BorderWidth: 0;
}
